<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/imports') %>
    <title>
        <%- pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sidebar.css">

</head>
<body>
<div class="bg-color">
    <%- include('partials/navbar') %>
    <%- include('partials/sidebar') %>

    <div class="text-main">
        <div class="text">
            <h1>Wygląda na to że jesteś globalnie zbanowany</h1>
            <p>Nie możesz zalogowac sie do panelu</p>
        </div>
        <div class="text-1">
            <p>Powód: <%= reason %></p>
            <p>Developer: <%= developer %></p>
        </div>
    </div>
</div>


<%- include('partials/footer', {version: bot.version}) %>

</body>

