<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/imports') %>
    <title>
        <%- pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="bg-color">
    <%- include('partials/navbar') %>
    <div class="text-main">
        <div class="text">
            <h1>Let your server <b>shine</b> with</h1>
            <p>Touji</p>
        </div>
        <div class="text-1">
            <p>Levels, Economy, Level rewards, custom permissions, and much more. All with <b>Touji</b></p>
            <p><span><%= bot.guilds.cache.size %></span> guilds trusted us.</p>
            <a href="https://discord.com/api/oauth2/authorize?client_id=959561376420991037&permissions=8&scope=bot%20applications.commands"
               style="margin-bottom: 30px;" class="btn-invite" target="_blank"><i class='bx bxl-discord'></i>Invite</a>
            <br>
        </div>
    </div>
</div>
<div class="div-about">
    <div class="main-about">
        <br>
        <h1>Features</h1>
        <p>What makes Touji unique?</p>
        <hr>
    </div>
    <br>
    <div class="about-center">
        <p>• Suggestion system</p>
        <p>• Levels, and role rewards</p>
        <p>• Welcome & Goodbye messages</p>
        <p>• Many tools</p>
        <p>• Giveaways</p>
        <p>• Economy</p>
        <p>• Custom, minecraft inspired, permission system</p>
        <p>• Advanced moderation, with action logging based on case</p>
        <p>• Starboard</p>
        <p>And many, many <b>other unique</b> features.</p>
    </div>
</div>

<div class="user-page">
    <br>
    <div class="main-about">
        <br>
        <h1>Team</h1>
        <p>Who create Touji?
        <hr>
    </div>

    <div class="row">
        <div class="card-team">
            <% bot.users.fetch('854342480019587133') %>
            <img class="logo-avatar"
                 src="<%= bot.users.cache.get("854342480019587133").displayAvatarURL() %>">
            <h1><%= bot.users.cache.get("854342480019587133").tag %></h1>
            <p>Owner</p>
        </div>
    </div>
</div>

<%- include('partials/footer', {version: '0.3.7'}) %>

</body>

