<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/imports') %>
    <title>
        <%- pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="bg-color">
    <%- include('partials/navbar') %>
    <div class="text-main">
        <div class="text">
            <h1>Ulepsz swój serwer z botem</h1>
            <p>Touji</p>
        </div>
        <div class="text-1">
            <p>Komendy do zabawym, moderacyjne, ReactionRole oraz wszystko inne czego potrzebujesz!</p>
            <p><span><%= bot.guilds.cache.size %></span> Serwerów i <span><%= bot.users.cache.size %></span>
                użytkowników nam zaufało!</p>
            <a href="https://discord.com/api/oauth2/authorize?bot_id=814064909313638450&permissions=8&scope=bot"
               style="margin-bottom: 30px;" class="btn-invite"><i class='bx bxl-discord'></i>Zaproś</a>
            <a href="/dashboard" style="margin-bottom: 30px;" class="btn-login">Zaloguj</a>
            <br>
        </div>
    </div>
</div>
<div class="div-about">
    <div class="main-about">
        <br>
        <h1>Features</h1>
        <p>What makes Touji unique?</p>
        <hr>
    </div>
    <br>
    <div class="about-center">
        <p>• Suggestion system</p>
        <p>• Levels, and role rewards</p>
        <p>• Welcome & Goodbye messages</p>
        <p>• Many tools</p>
        <p>• Giveaways</p>
        <p>• Custom, minecraft inspired, permission system</p>
        <p>• Advanced moderation, with action logging based on case</p>
        <p>• Starboard</p>
        <p>And many, many <b>other unique</b> features.</p>
    </div>
</div>

<div class="user-page">
    <br>
    <div class="main-about">
        <br>
        <h1>Team</h1>
        <p>Who create Touji?
        <hr>
    </div>

    <div class="row">
        <div class="card-team">
            <img class="logo-avatar"
                 src="<%= bot.users.cache.get("831474539053449227").displayAvatarURL() %>">
            <h1><%= bot.users.cache.get("831474539053449227").tag %></h1>
            <p>Owner</p>
        </div>
    </div>
</div>

<%- include('partials/footer', {version: '0.3.7'}) %>

</body>

