<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/imports') %>
    <title>
        <%- pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include('partials/navbar') %>
<div class="levels center" style="margin-top: 110px; font-weight: 400;">
    <h1></h1>
</div>
<center>

    <% let i = 0;
    let levels = []
    leveling.forEach(lvl => {
        i++;
        bot.users.fetch(lvl.userID);
        levels.push(lvl)
        const user = bot.users.cache.get(lvl.userID);
        if (!user) return;
    %>
    
        <div class="topka-div">
            <center>
                <img src="<%= user.displayAvatarURL({format: "png"}) %>"
                     class="topka-img">
                     <br>
                     <h3><%= i %>. <code>
                    <%= user.tag %>
                </code><%= levels.find(u => u.userID == user.id).level%> level <%= levels.find(u => u.userID == user.id).xp%> XP</h3>
                
                <% if(req.user && guild.members.cache.get(req.user.id).permissions.has('MANAGE_GUILD')){ %>
                <a href="/api/leveling/resetlevel/<%=guild.id%>/<%= user.id %>" type="submit" class="btn-admin">
                    <i class='bx bx-trash'></i>
                </a>
                <%}%>
            </center>
        </div>
        <% }) %>
</center>


</body>